<!doctype html>
<html>
<head>
<title>FinDox</title>
  <link rel="stylesheet" href="style.css"/>
</head>

<body class="landing">
  <header>
    <div class="nav">
      <ul>
        <li class="login"><a class="active" href="/login">Login</a></li>
        <li class="sign_up"><a href="/sign_up">Sign Up</a></li>
        <li class="quick_search"><a href="/quick_search">Search</a></li>
      </ul>
    </div>
  </header>


<h1>FinDox</h1>
<h2>Find doctors based on location or specialty</h2>
<img src="http://social.eyeforpharma.com/sites/default/files/erectile-dysfunction-diagnosing_0.jpg">


</body>
</html>

