<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
   <link rel="stylesheet" href="style.css"/>
</head>
<body>
<header>
    <div class="nav">
      <ul>
        <li class="home"><a class="homes" href="/">Home</a></li>
        <li class="login"><a class="active" href="/login">Login</a></li>
        <li class="sign_up"><a href="/sign_up">Sign Up</a></li>
        <li class="quick_search"><a href="/quick_search">Search</a></li>
        <li class="userdashboard"><a href="/userdashboard">Dashboard</a></li>
      </ul>
    </div>
  </header>
  <a href = "/logout">Log Out</a>
  <a href="/quick_search">Search for more Doctors</a>
  <a href="/userdashboard">View Saved Doctors</a>
<p>{{id}}</p>
<p>{{email}}</p>
<!--sends users id to userdashboard page, need to know user id to save preferences, need to know which user is saving preferences -->
</body>
</html>





