 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family:  'Oswald', sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.nav ul {
  list-style: none;
  background-color: #3BCBFF;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #fff;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.nav a:hover {
  background-color: #2A84E8;
}



@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }


  .nav li {
    display: inline-block;

  }


legend {
  font-family: 'Oswald', sans-serif;
}

label {
  font-family: 'Oswald', sans-serif;
}

button {
  font-family:  'Oswald', sans-serif;
}

#btn btn-primary {
  font-family:  'Oswald', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
}

.container {
  margin:  50px auto;
  width: 640px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.signup {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.search {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}
