<h1>This is where people will search a Doc via location</h1>

<!DOCTYPE html>
<html>
<head>
<title>Search</title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
 <header>
    <div class="nav">
      <ul>
        <li class="home"><a class="homes" href="/">Home</a></li>
        <li class="login"><a class="active" href="/login">Login</a></li>
        <li class="sign_up"><a href="/sign_up">Sign Up</a></li>
        <li class="quick_search"><a href="/quick_search">Search</a></li>
        <li class="userdashboard"><a href="/userdashboard">Dashboard</a></li>
      </ul>
    </div>
  </header>



  <!-- HTML for SEARCH BAR -->
  <div id="<!doctype html>">
  <div class="container">
  <div class="search">
    <form id="docsearch" method="get">
            <input type="text" class="doctext" name="city" size="21" maxlength="120">
            <input type="text" min="2" max="2" name="state">
            <input type="submit" value="search" class="button">
    </form>
  </div>
  </div>
  </div>
  <div id="search">

  </div>
<script src="/jquery.js"></script>
<script src="/script.js"{{#id}} data-id={{id}}{{/id}}></script>
<!-- embeds id # into the html -->

</body>
</html>
